#container-li {
    padding: 0px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h3 {
    font-family: 'Open Sans', sans-serif;

    color: #AA3333;
}

#container-li li {
    list-style: none;
}

#home {
    background-image: url(images/Confetti-Doodles.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.underline {
    width: 80px;
    height: 3px;
    border-radius: 20px;
    margin: 30px auto;
    background-color: #AA3333;
    margin-bottom: 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#homeUL {
    width: 80px;
    height: 3px;
    border-radius: 20px;
    margin: 30px auto;
    background-color: whitesmoke;
    margin-bottom: 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}


.top {
    padding: 30px 20px;
    /* box-shadow: 5px 5px 10px gray; */

}

.carousel-inner {
    background-color: whitesmoke;
    margin: 10px 30px 10px 0px;
    padding: 30px 40px;
    border-radius: 20px;
    min-height: 530px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.news marquee {
    background-color: whitesmoke;
    width: 70%;
    border: gray;
    padding: 5px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}



.carousel-inner,
.carousel-inner i {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.carousel-inner:hover i {
    transform: translateX(-15px);
    -webkit-transform: translateX(-15px);
    -moz-transform: translateX(-15px);
    -ms-transform: translateX(-15px);
    -o-transform: translateX(-15px);
}

#searchID {
    padding-top: 50px;
}

.fas-footer {
    transition: 0.5s ease;
}

.fas-footer:hover {
    color: #AA3333 !important;
}

.fab {
    transition: 0.5s ease;
}

.fab:hover {
    color: #AA3333!important;
}